.profile {
    border:2px solid black;
    border-radius: 3px;
    color: black;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 30px;
}