.active-link {
    color: pink;
}
.logout__button{
    margin-left: 300px;
}
.toolbar__row button{
    margin-right: 20px;
}
.toolbar {
    max-width: 100%;
}
.material-icons {
    cursor: pointer;
}
.round {
    position: absolute;
    top: 33px;
    width: 8px;
    height: 8px;
    background: #FF1919;
    border-radius: 50%;
    box-shadow:0 0 10px #000;
  }
