.active-link {
    color: pink;
}
.toolbar__row button{
    margin-right: 20px;
}
.notification{
    margin-left: auto;
}
.toolbar__row{
    display: flex;
    flex-wrap: wrap;
}
.toolbar {
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 2;
}

@media screen and (max-width: 990px){
    .toolbar {
        min-height: 100px;
    }
    .toolbar__row button{
        margin-top: 10px;
    }
}

@media screen and (max-width: 855px){
    .notification{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .toolbar {
        min-height: 150px;
    }
}

@media screen and (max-width: 404px){
    .toolbar {
        min-height: 150px;
  }
}

@media screen and (max-width: 355px){
    .toolbar {
        min-height: 350px;
    }
    .toolbar__row{
        display: flex;
    }
}



