nav {
    margin: 30px;
}
.element{
    background: gray;
}
.main__links {
    text-decoration: none;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    font-size: 18px;
    margin-right: 20px;
}
.main__links:hover {
    background: red;
    color: #ffffff;
}
.active-link {
    background: red;
    color: #ffffff;
}
.main__logout_button{ 
    margin-left: 460px;
}
.main__logout_button:hover{ 
    color: #ffffff;
    background: red;
}