<div class="my-profile">
    <h3 *ngIf='isMyProfile else alienProfile'>My Profile:</h3>
    <ng-template #alienProfile>
        <h3>Profile:</h3>
    </ng-template> 
    <app-profile-container [myProfilePage]='isMyProfile' [firendRequest]='firendRequest'></app-profile-container>
    <h3 *ngIf='isMyProfile else alienAlbums'>My Albums:</h3> 
    <ng-template #alienAlbums>
        <h3>Albums:</h3>
    </ng-template> 
    <app-gallery [albums]='albums$ | async' [myProfilePage]='isMyProfile'></app-gallery>
</div>


