.users{
    display: flex;
    flex-wrap: wrap;
}
.user {
    width: 250px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    padding-bottom: 50px;
}
.user:hover{
    color: #ffffff;
    background: #000000;
}
.user:hover mat-card-subtitle{
    color: #ffffff;
}
.user:hover button{
    color: #000000;
    background: #ffffff;
}
.user button{
    position:absolute; 
    bottom:0; 
}


