:host{
  position: absolute;
  background: url('../../../assets/chat-bg.jpg');
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
}
.dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
}
.message-form{
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #ffffff;
  margin-bottom: 100px;
}
.dialog__form {
  position: fixed;
  left: 40%;
  bottom: 10%; 
}
.messages {
  display: flex;
  flex-direction: column;
}
.active{
  margin-left: 500px;
}
.inactive{
  margin-right: 500px;
}
@media screen and (max-width: 990px){
  .active{
    margin-left: 0px;
  }
  .inactive{
    margin-right: 0px;
  }
}
