<div class="dialog">
  <!-- <div class="messages"> -->
    <app-message *ngFor='let message of messages' [message]='message.message'></app-message>
  <!-- </div> -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}" #message maxlength="256" placeholder="My message...">
      <mat-hint><strong>Don't disclose personal info</strong></mat-hint>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" (click)='sendMessage()'>Send</button>
</form>
</div>