.dialog{
  background: url('../../../assets/chat-bg.jpg') fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.message-form{
  background: #ffffff;
  margin-bottom: 100px;
}
.dialog__form {
  position: fixed;
  left: 40%;
  bottom: 10%; 
}
.messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}
.active{
  margin-left: 500px;
}
.inactive{
  margin-right: 500px;
}
@media screen and (max-width: 990px){
  .active{
    margin-left: 0px;
  }
  .inactive{
    margin-right: 0px;
  }
}
