.element{
    background: gray;
}
.main__links {
    text-decoration: none;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    font-size: 18px;
    background: black;
    margin-right: 20px;
}
.main__links:hover {
    color: black;
    background: red;
}
.active-link {
    color: black;
    background: red;
}
.main__logout_button{ 
    background: #000000;
    margin-left: 70%;;
}
.main__logout_button:hover{ 
    color: #000000;
    background: red;
}