<div class="change-photo">
    <div class="photo">
        <img [src]="imgURL" height="210" width="250" *ngIf="imgURL">
    </div>
    <!-- <div class="change-photo__buttons">
            <input #fileInput type="file" accept='image/*' name="photo" (change)="addPhoto($event, fileInput.files)" class="fileInput"/>
        <button (click)='sendAvatar()'>Send Photo</button>
    </div> -->
    <app-upload-button #fileInput type="file" accept='image/*' name="photo" (change)="addPhoto($event)"></app-upload-button>
    <button (click)='sendAvatar()'>Send Photo</button>
</div>
<div class="change-user">
    <label>name:</label>
    <input type="text" [(ngModel)]='name'/>
    <label>surname:</label>
    <input type="text" [(ngModel)]='surname'/>
    <label>login:</label>
    <input type="text" [(ngModel)]='login'/>
    <label>password:</label>
    <input type="text" [(ngModel)]='password'/>
    <label>phone:</label>
    <input type="text" [(ngModel)]='phone'/>
    <button (click)='changeUsers()'>Change</button>
</div>
