<div class="change-photo">
    <div class="photo">
        <img [src]="imgURL" height="210" width="250" *ngIf="imgURL">
    </div>
    <app-upload-button #fileInput type="file" accept='image/*' name="photo" (change)="addPhoto($event)"></app-upload-button>
    <button mat-raised-button color="accent" (click)='sendAvatar()'>Send Photo</button>
</div>
<div class="change-user">
    <label>name:</label>
    <input type="text" [(ngModel)]='name'/>
    <label>surname:</label>
    <input type="text" [(ngModel)]='surname'/>
    <label>login:</label>
    <input type="text" [(ngModel)]='login'/>
    <label>password:</label>
    <input type="text" [(ngModel)]='password'/>
    <label>phone:</label>
    <input type="text" [(ngModel)]='phone'/>
    <button mat-raised-button color="accent" (click)='changeUsers()' class="change-user__button">Change</button>
</div>
