.change-user {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}
.change-user input{
    width: 300px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 1px solid #000000;
    height: 20px;
}
/* .change-user button{
    width: 250px;
    height: 25px;
    margin-left: 17px;
} */
.change-photo {
    margin-left: 33%;
    width: 250px;
    height: 300px;
    border: 1px solid #000000;
}
.change-photo input{
    cursor: pointer;
}
.fileInput {
    /* opacity: 0; */
    /* width: 50px; */
    cursor: pointer;
}
/* .change-photo__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    justify-content: space-between;
} */
.photo {
    height: 220px;
}