<h4>Total photos: {{item.photosName.length}}</h4>
<div class='gallery__images' *ngFor='let image of item.photosName'>
    <img width='200' height='200' src='http://localhost:3000/uploads/{{image}}' alt="">
    <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon" (click)='removePhoto(item, image)' *ngIf='myProfilePage'>
        <mat-icon>clear</mat-icon>
    </button>
</div>
<div class="change-photo__buttons">
    <img [src]="imgURL" height="210" width="250" *ngIf="imgURL">
    <div class="input_button">
        <label for="inp">Add Photos
            <input id='inp' #fileInput type="file" *ngIf='myProfilePage' accept='image/*' name="photo" (change)="addPhoto($event, fileInput.files, item)" class="fileInput" multiple/>
        </label>
    </div>
    <button mat-fab color="accent" (click)='sendPhotos(item)' *ngIf='myProfilePage'>Send</button>
    <button mat-fab color="warn" (click)='removeAlbum(item)' *ngIf='myProfilePage' ><mat-icon>clear</mat-icon></button>
</div>
