<div class="gallery container" *ngFor='let item of albums'>
    <h3>{{item.name}}</h3>
    <app-album [item]='item' (onDelete)="onDelete()" [myProfilePage]='myProfilePage'></app-album>
</div>
<ng-container *ngIf='myProfilePage'>
    <button mat-raised-button color="warn" *ngIf='!addAlbumState; else addAlbum' (click)='changeAddAlbumState()'>Add Album</button>
    <ng-template #addAlbum>
        <button mat-raised-button color="warn" *ngIf='addAlbumState; else addAlbum' (click)='changeAddAlbumState()'>Hide Adding Album</button>
        <form (ngSubmit)="submit()">
            <mat-form-field >
              <input placeholder="Input Name of your abum here" matInput #message maxlength="256" [formControl]="albumName">
            </mat-form-field>
            <button type="submit" mat-raised-button color="warn">Create Album</button>
        </form>
    </ng-template>
</ng-container>


