/* You can add global styles to this file, and also import other style files */
button {
    border: 1px solid red;
    background: none;
    border-radius: 30%;
    cursor: pointer;
    color: red;
    margin-left: 10px;
    outline: none;
}
button:hover {
    background: red;
    color: black;
}