<mat-card class='user-card' [ngStyle]="getBackground()" routerLink = "/profile/{{user._id}}">
    <app-avatar [photoName]='user.avatar'></app-avatar>
    <h4>{{user.name}}</h4>
    <h4>{{user.surname}}</h4>
    <h5>{{user.phone}}</h5>
    <button mat-raised-button color="accent" (click)='$event.stopPropagation(); sendButtonEvent(user)'>{{buttonState}}</button>
    <button mat-raised-button color="accent" *ngIf='rejectRequest' (click)='$event.stopPropagation(); rejectRequestClick(user._id)'>reject request</button>
    <button mat-raised-button color="accent" (click)='openDialog()' routerLink = "/mydialog/{{user._id}}">send message</button>
</mat-card>