.friend{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.friend:after {
    content:'';
    width:100%;
    order:0;
}
.friend:hover{
    background: #778899;
}

.friend__notification_text{
    order: 1;
}